<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <form action="/add-user" method="POST">
            <label for="user">User: </label>
            <input type="text" name="user" id="user">
            <button type="submit">Add User</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>